.courseBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 90%;
  margin: 5%;
  border-radius: 0 20px 20px 20px;
  background-color: #FFEC99;
}

.pg {
  border: black solid 1px;
}