<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/components/UserInfo.css}">
    <script src="/js/components/UserInfo.js"></script>
</head>
<body>

<div class="user-info">
    <img src="/img/profilePic.svg" alt="Profile" class="profile-pic" id="profilePicture" />
    <div class="user-details">
        <h2 id="userName">John Doe</h2>
        <p id="userEmail">john@example.com</p>
    </div>
    <button class="edit-button" onclick="handleEditProfile()">Edit Profile</button>
</div>

</body>
</html>