<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learniverse Connect</title>
    <link rel="stylesheet" href="../../static/css/pages/LandingPage.css">
    <link rel="stylesheet" href="../../static/css/components/CarouselStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
</head>
<body>

<div class="landing-container">
    <div class="landing-header">
        <h1>
            Welcome to <br />
            <span>Learniverse Connect!</span>
        </h1>
    </div>

    <div id="carousel-root"></div>

    <div class="landing-browse-section">
        <a href="../../templates/pages/allCoursesPage.html" class="browse-button">Browse Courses</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="../../static/js/components/HeroCarousel.js"></script>

</body>
</html>