<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learniverse Connect</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages/Landing.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/components/CarouselStyle.css}">
    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="/js/components/HeroCarousel.js"></script>
</head>
<body>

<div class="landing-container">
    <div class="landing-header">
        <h1>
            Welcome to <br />
            <span>Learniverse Connect!</span>
        </h1>
    </div>

    <div id="carousel-root"></div>

    <div class="landing-browse-section">
        <a href="allCourses" class="browse-button">Browse Courses</a>
    </div>
</div>
</body>
</html>