<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Profile - Learniverse Connect</title>
    <link rel="stylesheet" href="../../static/css/pages/ProfilePage.css" />
    <link rel="stylesheet" href="../../static/css/components/UserInfo.css" />
    <link rel="stylesheet" href="../../static/css/components/CourseList.css" />
    <script src="../../static/js/pages/ProfilePage.js" defer></script>
</head>
<body>
<div class="profile-page-container">
    <div class="user-info">
        <img src="../../static/img/profilePic.svg" alt="Profile" class="profile-pic" />
        <div class="user-details">
            <h2 id="userName">John Doe</h2>
            <p id="userEmail">john@example.com</p>
        </div>
        <button class="edit-button">Edit Profile</button>
    </div>

    <h2 class="section-title">Enrolled Courses</h2>
    <div class="course-list" id="courseList">
        <!-- Course cards will be populated here -->
    </div>
</div>
</body>
</html>