.landing-container {
    text-align: center;
}

.landing-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 1.4;
    color: #000;
}

.landing-header span {
    color: #d18f00; /* accent color */
}