.App {
  text-align: center;
  background-color: #fff9db;
  min-height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 1s;
}
